# List of untracked files to ignore
.vs
package*
**/*.mltbx
**/*.asv
**/*.exp
**/*.lib
**/*.pdb
**/*.pri
**/x64
**/bin
**/My Project
**/obj
**/*.deps.json
/+MATLAB/+internal/private/libwebp_debug.dll
node_modules