<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libwebp.v140" version="0.5.0.2" targetFramework="native" />
  <package id="libwebp.v140.redist" version="0.5.0.1" targetFramework="native" />
  <package id="MariaDB_Connector" version="1.1.7" targetFramework="native" />
  <package id="MATLAB.MexTools" version="7.1.1" targetFramework="native" />
  <package id="native.magic_enum" version="0.9.5" targetFramework="native" />
  <package id="nih_at.libzip" version="1.11.4.1" targetFramework="native" />
</packages>